<p>Routine Manager is an application developed using Sinatra for the management of routine recurring tasks.
The purpose of developing the application is to:</p>
<li>Learn Sinatra</li>
<li>Learn Bootstrap</li>
<li>Learn AJAX</li>
